version: 2
jobs:
  build:
    
    working_directory: ~/majorproject-8-mon-17-30-5/BackEnd
    docker:
      - image: circleci/openjdk:8-jdk-stretch
      # - image: circleci/postgres:9.6.3-alpine
      #   environment:
      #     POSTGRES_USER: root
      #     POSTGRES_DB: circle_test

    steps:

      - checkout:
          path: ~/majorproject-8-mon-17-30-5
      - restore_cache:
          key: circleci-demo-java-spring-{{ checksum "pom.xml" }}
      
      - run: mvn dependency:go-offline
      
      - save_cache:
          paths:
            - ~/.m2
          key: circleci-demo-java-spring-{{ checksum "pom.xml" }}
      
      - run: mvn package
      
      - store_test_results:
          path: target/surefire-reports
      
      - store_artifacts:
          path: target/majorproject-0.0.1-SNAPSHOT.jar
  
  frontend:

    working_directory: ~/majorproject-8-mon-17-30-5/frontend
    docker:
      - image: cimg/node:14.8.0

    steps:
      - checkout:
          path: ~/majorproject-8-mon-17-30-5
      - restore_cache:
          keys:
            - v1-dependencies- {{ checksum "package.json"}}
            - v1-dependencies-
      - run: npm install
      - save_cache:
          paths:
            - node_modules
            - ~/.npm
            - ~/.cache

          key: v1-dependencies- {{checksum "package.json"}}
      - run: npm test

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - frontend
#---------------------------------------------------------------------------------------------------

# version: 2.0

# jobs:
#   test:
#     parallelism: 2
#     docker:
#       - image: circleci/openjdk:stretch
#     steps:
#       - checkout
#       - restore_cache:
#           keys:
#             - v1-dependencies-{{ checksum "pom.xml" }}
#             - v1-dependencies-
#       - attach_workspace:
#           at: ./target
#       - run: |
#             ./mvnw \
#             -Dtest=$(for file in $(circleci tests glob "src/test/**/**.java" \
#             | circleci tests split --split-by=timings); \
#             do basename $file \
#             | sed -e "s/.java/,/"; \
#             done | tr -d '\r\n') \
#             -e test verify
#       - store_test_results:
#           path: target/surefire-reports
#       - store_artifacts:
#           path: target/site/jacoco/index.html

#   build:
#     docker:
#       - image: circleci/openjdk:stretch
#     steps:
#       - checkout
#       - restore_cache:
#           keys:
#             - v1-dependencies-{{ checksum "pom.xml" }}
#             - v1-dependencies-
#       - run: ./mvnw -Dmaven.test.skip=true package
#       - save_cache:
#           paths:
#             - ~/.m2
#           key: v1-dependencies-{{ checksum "pom.xml" }}
#       - persist_to_workspace:
#          root: ./
#          paths:
#            - target/

# workflows:
#   version: 2

#   build-then-test:
#     jobs:
#       - build
#       - test:
#           requires:
#             - build
