version: 2
jobs:
  build:
    
    working_directory: ~/majorproject-8-mon-17-30-5/BackEnd
    docker:
      - image: circleci/openjdk:8-jdk-stretch

    steps:

      - checkout:
          path: ~/majorproject-8-mon-17-30-5
      - restore_cache:
          key: circleci-demo-java-spring-{{ checksum "pom.xml" }}
      
      - run: mvn dependency:go-offline
      
      - save_cache:
          paths:
            - ~/.m2
          key: circleci-demo-java-spring-{{ checksum "pom.xml" }}
      
      - run: mvn package
      
      - store_test_results:
          path: target/surefire-reports
      
      - store_artifacts:
          path: target/majorproject-0.0.1-SNAPSHOT.jar
  
  frontend:

    working_directory: ~/majorproject-8-mon-17-30-5/frontend
    docker:
      - image: cimg/node:14.8.0

    steps:
      - checkout:
          path: ~/majorproject-8-mon-17-30-5
      - restore_cache:
          keys:
            - v1-dependencies- {{ checksum "package.json"}}
            - v1-dependencies-
      - run: npm install
      - save_cache:
          paths:
            - node_modules
            - ~/.npm
            - ~/.cache

          key: v1-dependencies- {{checksum "package.json"}}
      - run: npm test

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - frontend