.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes regoBtnAnimation {
  from {background-color: white;}
  to {background-color: rgb(39, 141, 237);}
}

@keyframes loginBtnAnimation {
  from {background-color: rgb(39, 141, 237);}
  to {background-color: white;}
}

body
{
    text-align:center;
    background-image: url("./hiclipart.com.png");
    background-repeat: round;
}

form.custDetails
{
  background-color: white;
    display: inline-block;
    border-color: rgb(39, 141, 237);
    border-style: solid;
    display: inline-block;
    align-items: center;
    box-shadow: 0px 0px 18px 4px #696969; 
    padding:20px;
}

form.entry
{
    background-color: white;
    display: inline-block;
    border-color: rgb(39, 141, 237);
    border-style: solid;
    display: inline-block;
    align-items: center;
    box-shadow: 0px 0px 18px 4px #696969; 
}

form.entryRegister
{
  background-image: linear-gradient(to right, rgb(39, 141, 237) , rgb(100, 60, 187));
  display: inline-block;
  border-color: white;
  color:white;
  border-style: solid;
  display: inline-block;
  align-items: center;
  box-shadow: 0px 0px 18px 4px #696969; 
}

form.searchDash
{
  background-image: linear-gradient(to right, rgb(39, 141, 237) , rgb(100, 60, 187));
  border-color: white;
  display: -webkit-flex;
  color:white;
  border-style: solid;
  align-items: center;
  box-shadow: 0px 0px 18px 4px #696969; 
}

article.custDash, form.adminDetails, form.aboutUs, form.contactUs, form.workerDetails, article.confirmBook, form.workerForm, article.workerPage, article.adminDash, form.editCustomer
{
  background-color: white;
  display: inline-block;
  border-color: rgb(39, 141, 237);
  border-style: solid;
  padding: 20px 20px;
  display: inline-block;
  align-items: center;
  box-shadow: 0px 0px 18px 4px #696969; 
}

input
{
  padding: 12px 200px;
  margin: 8px 20px;
  box-sizing: content-box;
  display: inline-block;
  width: 100px;
}

h1{
    font-weight: bold;
    color: rgb(39, 141, 237);
    text-align: center;
}

h1.regoHead
{
  font-weight: bold;
  color: white;
  text-align: center;
}

.buttonholder #loginBtn, input.workerButton, input.workers, input.bookings, input.changeCustDetails
{
  background-image: linear-gradient(to right, rgb(39, 141, 237) , rgb(100, 60, 187));
  border: rgb(39, 141, 237);
  border-style: solid;
  color: white;
  padding: 16px 200px;
  margin: 10px 20px;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.4s;
}

.buttonholder #loginBtn:hover, input.workerButton:hover, input.workers:hover, input.bookings:hover, input.changeCustDetails:hover
{
    color:rgb(39, 141, 237);
    background-image: none;
    border: 2px solid rgb(39, 141, 237);
    box-shadow: 0 12px 16px 0 #696969, 0 17px 50px 0 #696969;
    animation-name: loginBtnAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.buttonholder #registerBtn
{
  background-color: white;
  border: none;
  color: rgb(39, 141, 237);
  padding: 16px 200px;
  margin: 10px 20px;
  cursor: pointer;
  text-align: center;
  border: rgb(39, 141, 237);
  border-style: solid;
  /* transition-duration: 0.4s; */
  
}

button.searchService 
{
  background-color: white;
  border: none;
  color: rgb(39, 141, 237);
  margin: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  border: rgb(39, 141, 237);
  border-style: solid;
}

.buttonholder #registerBtn:hover {
  background-image: linear-gradient(to right, rgb(39, 141, 237) , rgb(100, 60, 187));
  color:white;
  background-image: none;
  border: 2px solid white;
  box-shadow: 0 12px 16px 0 #696969, 0 17px 50px 0 #696969;
  animation-name: regoBtnAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

button.searchService:hover
{
  background-image: linear-gradient(to right, rgb(39, 141, 237) , rgb(100, 60, 187));
  color:white;
  background-image: none;
  border: 2px solid white;
  animation-name: regoBtnAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
ul 
{
    list-style-type: none;
    margin: 0;
    color:white;
    padding: 10px 0px;
    overflow: hidden;
    background-image: linear-gradient(to right, rgb(39, 141, 237) , rgb(100, 60, 187));
}
  
li 
{
    float: left;
    color:white;
    padding:8px;
}

li #logout
{
  float: right;
  color:white;
  padding:8px;
  text-decoration: underline;
}

li #logout
{
  float: right;
  color:white;
  padding:8px;
  background-color: orange;
  text-decoration: underline;
}
  
li a 
{
    display: block;
    padding: 8px;
    color: white;
}

li a:hover 
{
    background-color: white;
    color: rgb(39, 141, 237);
}

button #booking,  #userDetails
{
  float: left;
  background-color: orange;
  color:white;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 #696969, 0 17px 50px 0 #696969;
}

button.booking, #confirmBook, #cancelBook, #book, button.workerBtn
{
  background-color: orange;
  color:white;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 #696969, 0 17px 50px 0 #696969;
}

button #booking:hover, #userDetails:hover, button.booking:hover, #confirmBook:hover, #cancelBook:hover, #book:hover, button.workerBtn:hover
{
  background-color: white;
  color:orange;
  transition-duration: 0.4s;
  border: 2px solid white;
  box-shadow: 0 12px 16px 0 #696969, 0 17px 50px 0 #696969;
}

button.cancelBooking
{
  background-color: red;
  color:white;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 #696969, 0 17px 50px 0 #696969;
}

button.cancelBooking:hover{
  background-color: white;
  color:red;
  transition-duration: 0.4s;
  border: 2px solid white;
  box-shadow: 0 12px 16px 0 #696969, 0 17px 50px 0 #696969;
}

button.editCustomer
{
  background-color: rgb(7, 192, 7);
  color:white;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 #696969, 0 17px 50px 0 #696969;
}

button.editCustomer:hover
{
  background-color: white;
  color:rgb(7, 192, 7);
  transition-duration: 0.4s;
  border: 2px solid white;
  box-shadow: 0 12px 16px 0 #696969, 0 17px 50px 0 #696969;
}